.dm-mono{
  font-family: 'DM Mono', serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.inverted{
  background-color:black;
  color:white;
}

.light-grey{
  background-color:#565659;
}
.form-control{
  max-width:25%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.strongweight{
  font-weight:800;
  font-size:100px;
}